<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal" }, class: "modal" do %>
    <div class="modal__title"><%= @title %></div>
    <div class="modal__content">
      <%= content %>
      <%= button_tag "Close", data: { action: "turbo-modal#hideModal" }, type: "button", class: "btn btn-white" %>
    </div>
  <% end %>
<% end %>