<%= turbo_frame_tag "task-status-#{task.status}-#{task.id}" do %>
  <li class="has-background-white-bis" id="<%= dom_id task, "li" %>">
    <h4>
      <%= task.title %>
    </h4>

    <p>
      <strong>Кол-во одобрений:</strong>
      <%= task.approvements.size %>
    </p>

    <% if task.status == "new" %>
      <%= button_to "Запустить", start_task_path(task), class: "btn-xs btn-pink w-1/5", data: { turbo_frame: "task-status-#{task.status}-#{task.id}" } %>
    <% end -%>

    <% if task.status == "in_progress" && !current_user.approved?(task) %>
      <%= button_to "Одобрить", approve_task_path(task), class: "btn-xs btn-lime w-1/5", data: { turbo_frame: "task-status-#{task.status}-#{task.id}"} %>
    <% end -%>

    <% if task.status == "in_progress" %>
      <%= button_to "Отклонить", cancel_task_path(task), class: "btn-xs btn-orange w-1/5", data: { turbo_frame: "task-status-#{task.status}-#{task.id}"} %>
    <% end -%>

    <% if task.status == "in_progress" && task.approvements.size > 0 %>
      <%= button_to "Принять", complete_task_path(task), class: "btn-xs btn-lime w-1/5", data: { turbo_frame: "task-status-#{task.status}-#{task.id}"} %>
    <% end -%>


  </li>
<% end -%>
